:root {
    --color_word: rgb(242, 105, 26);
    --main_color: #3db9e5;
}
.hightlight_word {
    color: var(--color_word);
    font-weight: bold;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    /* padding: 0px 200px; */
}

main {
    padding: 0px 141px; /* Đồng bộ padding với header */
    background: linear-gradient(to bottom, var(--main_color), white);
}

section {
    margin: 40px 0;
}

h2 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
    color: #2c3e50;
}

